@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
.color {
  color: #7420A3;
}

* {
  font-family: "Almarai", sans-serf;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background: #7420A3;
}

.shape {
  position: relative;
  background-color: #7420A3;
  padding: 120px 0;
}
.shape::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  border-bottom: 120px solid transparent;
  border-left: 1500px solid #fff;
}
.shape::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-top: 120px solid transparent;
  border-right: 1500px solid #fff;
}
.shape p {
  color: white;
  font-size: 30px;
  padding-top: 15px;
}

input, select, textarea {
  resize: vertical;
  outline: none;
  transition: all 0.4s ease;
  color: black;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 0px 0px !important;
  width: 100%;
  border: 1px solid #eee;
}
input:focus, select:focus, textarea:focus {
  background: #eee;
}
input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: #a9a9a9;
  opacity: 1;
}
input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #a9a9a9;
}
input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #a9a9a9;
}

select {
  z-index: 50 !important;
}

.help-block {
  user-select: none;
}
.help-block.help {
  color: #7420A3;
}
.help-block.danger {
  color: #df2721;
}

.choices {
  margin: 0px !important;
}

.choices__inner {
  background: white !important;
  border-radius: 10px !important;
  padding: 10px 10px !important;
}

.choices__list.choices__list--single {
  color: #a9a9a9 !important;
}

.choices__item--choice.choices__item--selectable {
  padding: 50px;
}

.choices__list--dropdown.choices__list {
  max-height: 200px !important;
}

.main_bg {
  background-color: #7420A3;
}

nav {
  background-color: #7420A3;
}
nav #collapse {
  transition: all 0.4s ease;
}
nav a.active {
  color: #ffd000;
}
nav a.btn {
  color: white;
  background-image: linear-gradient(to left, #a38b20, #a38b20, rgba(163, 139, 32, 0.75));
  border-radius: 40px;
  padding: 5px 15px;
  transition: all ease 0.4s;
  font-size: 18px;
  outline: none;
}
nav a.btn:focus {
  outline: none;
}
nav a.btn:hover {
  transform: translateY(-5px);
}

.header {
  border-bottom: 2px solid #7420A3;
  padding-bottom: 5px;
  padding-left: 15px;
  display: inline-block;
  font-weight: 400;
  font-size: 25px;
  margin: 10px 0;
}

.quick-search .-mx-2 .inputs .px-2 .px-2 .flex select.js-choice {
  margin: 0px 10px !important;
}

.brand .img {
  opacity: 0.4;
  transition: all 0.4s ease;
}
.brand .img:hover {
  opacity: 1;
}

.pagenation .active {
  background-color: #7420A3;
  color: white;
}

button.indigo, a.btn.indigo {
  color: white;
  background-image: linear-gradient(to left, #7420a3, #7420a3, rgba(116, 32, 163, 0.75));
  border-radius: 40px;
  padding: 5px 15px;
  transition: all ease 0.4s;
  font-size: 18px;
  outline: none;
}
button.indigo:focus, a.btn.indigo:focus {
  outline: none;
}
button.indigo:hover, a.btn.indigo:hover {
  transform: translateY(-5px);
}

button.yellow, a.btn.yellow {
  color: white;
  background-image: linear-gradient(to left, #a38b20, #a38b20, rgba(163, 139, 32, 0.75));
  border-radius: 40px;
  padding: 5px 15px;
  transition: all ease 0.4s;
  font-size: 18px;
  outline: none;
}
button.yellow:focus, a.btn.yellow:focus {
  outline: none;
}
button.yellow:hover, a.btn.yellow:hover {
  transform: translateY(-5px);
}

.fav:active i {
  color: #7420A3;
}

footer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
footer a.btn {
  color: white;
  background-image: linear-gradient(to left, #a38b20, #a38b20, rgba(163, 139, 32, 0.75));
  border-radius: 40px;
  padding: 5px 15px;
  transition: all ease 0.4s;
  font-size: 18px;
  outline: none;
}
footer a.btn:focus {
  outline: none;
}
footer a.btn:hover {
  transform: translateY(-5px);
}
footer ul li {
  margin: 20px 0;
}
footer ul li:first-child {
  margin-bottom: 40px;
}
footer ul li a {
  transition: all 0.4s ease;
}
footer ul li a:hover {
  color: #ffd000;
}
footer ul:last-child li:first-child {
  margin-bottom: 0px !important;
}

[data-scroll] {
  transition: all 1s;
}

[data-scroll=in] {
  opacity: 1;
  transform: translateY(0px);
}

[data-scroll=out] {
  opacity: 0;
  transform: translateY(50px);
}

.bgi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}

form.center {
  border-radius: 30px;
}

.color {
  color: #7420A3;
}

* {
  font-family: "Almarai", sans-serf;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background: #7420A3;
}

.shape {
  position: relative;
  background-color: #7420A3;
  padding: 120px 0;
}
.shape::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  border-bottom: 120px solid transparent;
  border-left: 1500px solid #fff;
}
.shape::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-top: 120px solid transparent;
  border-right: 1500px solid #fff;
}
.shape p {
  color: white;
  font-size: 30px;
  padding-top: 15px;
}

input, select, textarea {
  resize: vertical;
  outline: none;
  transition: all 0.4s ease;
  color: black;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 0px 0px !important;
  width: 100%;
  border: 1px solid #eee;
}
input:focus, select:focus, textarea:focus {
  background: #eee;
}
input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: #a9a9a9;
  opacity: 1;
}
input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #a9a9a9;
}
input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #a9a9a9;
}

select {
  z-index: 50 !important;
}

.help-block {
  user-select: none;
}
.help-block.help {
  color: #7420A3;
}
.help-block.danger {
  color: #df2721;
}

.choices {
  margin: 0px !important;
}

.choices__inner {
  background: white !important;
  border-radius: 10px !important;
  padding: 10px 10px !important;
}

.choices__list.choices__list--single {
  color: #a9a9a9 !important;
}

.choices__item--choice.choices__item--selectable {
  padding: 50px;
}

.choices__list--dropdown.choices__list {
  max-height: 200px !important;
}

.main_bg {
  background-color: #7420A3;
}

nav {
  background-color: #7420A3;
}
nav #collapse {
  transition: all 0.4s ease;
}
nav a.active {
  color: #ffd000;
}
nav a.btn {
  color: white;
  background-image: linear-gradient(to left, #a38b20, #a38b20, rgba(163, 139, 32, 0.75));
  border-radius: 40px;
  padding: 5px 15px;
  transition: all ease 0.4s;
  font-size: 18px;
  outline: none;
}
nav a.btn:focus {
  outline: none;
}
nav a.btn:hover {
  transform: translateY(-5px);
}

.header {
  border-bottom: 2px solid #7420A3;
  padding-bottom: 5px;
  padding-left: 15px;
  display: inline-block;
  font-weight: 400;
  font-size: 25px;
  margin: 10px 0;
}

.quick-search .-mx-2 .inputs .px-2 .px-2 .flex select.js-choice {
  margin: 0px 10px !important;
}

.brand .img {
  opacity: 0.4;
  transition: all 0.4s ease;
}
.brand .img:hover {
  opacity: 1;
}

.pagenation .active {
  background-color: #7420A3;
  color: white;
}

button.indigo, a.btn.indigo {
  color: white;
  background-image: linear-gradient(to left, #7420a3, #7420a3, rgba(116, 32, 163, 0.75));
  border-radius: 40px;
  padding: 5px 15px;
  transition: all ease 0.4s;
  font-size: 18px;
  outline: none;
}
button.indigo:focus, a.btn.indigo:focus {
  outline: none;
}
button.indigo:hover, a.btn.indigo:hover {
  transform: translateY(-5px);
}

button.yellow, a.btn.yellow {
  color: white;
  background-image: linear-gradient(to left, #a38b20, #a38b20, rgba(163, 139, 32, 0.75));
  border-radius: 40px;
  padding: 5px 15px;
  transition: all ease 0.4s;
  font-size: 18px;
  outline: none;
}
button.yellow:focus, a.btn.yellow:focus {
  outline: none;
}
button.yellow:hover, a.btn.yellow:hover {
  transform: translateY(-5px);
}

.fav:active i {
  color: #7420A3;
}

footer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
footer a.btn {
  color: white;
  background-image: linear-gradient(to left, #a38b20, #a38b20, rgba(163, 139, 32, 0.75));
  border-radius: 40px;
  padding: 5px 15px;
  transition: all ease 0.4s;
  font-size: 18px;
  outline: none;
}
footer a.btn:focus {
  outline: none;
}
footer a.btn:hover {
  transform: translateY(-5px);
}
footer ul li {
  margin: 20px 0;
}
footer ul li:first-child {
  margin-bottom: 40px;
}
footer ul li a {
  transition: all 0.4s ease;
}
footer ul li a:hover {
  color: #ffd000;
}
footer ul:last-child li:first-child {
  margin-bottom: 0px !important;
}

[data-scroll] {
  transition: all 1s;
}

[data-scroll=in] {
  opacity: 1;
  transform: translateY(0px);
}

[data-scroll=out] {
  opacity: 0;
  transform: translateY(50px);
}

.bgi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}

form.center {
  border-radius: 30px;
}

.inputs .btn {
  color: white;
  background-image: linear-gradient(to left, #7420a3, #7420a3, rgba(116, 32, 163, 0.75));
  border-radius: 40px;
  padding: 5px 15px;
  transition: all ease 0.4s;
  font-size: 18px;
  outline: none;
  padding: 5px 30px;
}
.inputs .btn:focus {
  outline: none;
}
.inputs .btn:hover {
  transform: translateY(-5px);
}

input.images {
  width: 16rem;
  height: 16rem;
  position: relative;
}
input.images:hover::after {
  background-color: #ddd;
  cursor: pointer;
}
input.images::after {
  transition: all 0.4s ease;
  background-color: #eee;
  content: "اضغط لإضافة صورة";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.color {
  color: #7420A3;
}

* {
  font-family: "Almarai", sans-serf;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background: #7420A3;
}

.shape {
  position: relative;
  background-color: #7420A3;
  padding: 120px 0;
}
.shape::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  border-bottom: 120px solid transparent;
  border-left: 1500px solid #fff;
}
.shape::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-top: 120px solid transparent;
  border-right: 1500px solid #fff;
}
.shape p {
  color: white;
  font-size: 30px;
  padding-top: 15px;
}

input, select, textarea {
  resize: vertical;
  outline: none;
  transition: all 0.4s ease;
  color: black;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 0px 0px !important;
  width: 100%;
  border: 1px solid #eee;
}
input:focus, select:focus, textarea:focus {
  background: #eee;
}
input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: #a9a9a9;
  opacity: 1;
}
input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #a9a9a9;
}
input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #a9a9a9;
}

select {
  z-index: 50 !important;
}

.help-block {
  user-select: none;
}
.help-block.help {
  color: #7420A3;
}
.help-block.danger {
  color: #df2721;
}

.choices {
  margin: 0px !important;
}

.choices__inner {
  background: white !important;
  border-radius: 10px !important;
  padding: 10px 10px !important;
}

.choices__list.choices__list--single {
  color: #a9a9a9 !important;
}

.choices__item--choice.choices__item--selectable {
  padding: 50px;
}

.choices__list--dropdown.choices__list {
  max-height: 200px !important;
}

.main_bg {
  background-color: #7420A3;
}

nav {
  background-color: #7420A3;
}
nav #collapse {
  transition: all 0.4s ease;
}
nav a.active {
  color: #ffd000;
}
nav a.btn {
  color: white;
  background-image: linear-gradient(to left, #a38b20, #a38b20, rgba(163, 139, 32, 0.75));
  border-radius: 40px;
  padding: 5px 15px;
  transition: all ease 0.4s;
  font-size: 18px;
  outline: none;
}
nav a.btn:focus {
  outline: none;
}
nav a.btn:hover {
  transform: translateY(-5px);
}

.header {
  border-bottom: 2px solid #7420A3;
  padding-bottom: 5px;
  padding-left: 15px;
  display: inline-block;
  font-weight: 400;
  font-size: 25px;
  margin: 10px 0;
}

.quick-search .-mx-2 .inputs .px-2 .px-2 .flex select.js-choice {
  margin: 0px 10px !important;
}

.brand .img {
  opacity: 0.4;
  transition: all 0.4s ease;
}
.brand .img:hover {
  opacity: 1;
}

.pagenation .active {
  background-color: #7420A3;
  color: white;
}

button.indigo, a.btn.indigo {
  color: white;
  background-image: linear-gradient(to left, #7420a3, #7420a3, rgba(116, 32, 163, 0.75));
  border-radius: 40px;
  padding: 5px 15px;
  transition: all ease 0.4s;
  font-size: 18px;
  outline: none;
}
button.indigo:focus, a.btn.indigo:focus {
  outline: none;
}
button.indigo:hover, a.btn.indigo:hover {
  transform: translateY(-5px);
}

button.yellow, a.btn.yellow {
  color: white;
  background-image: linear-gradient(to left, #a38b20, #a38b20, rgba(163, 139, 32, 0.75));
  border-radius: 40px;
  padding: 5px 15px;
  transition: all ease 0.4s;
  font-size: 18px;
  outline: none;
}
button.yellow:focus, a.btn.yellow:focus {
  outline: none;
}
button.yellow:hover, a.btn.yellow:hover {
  transform: translateY(-5px);
}

.fav:active i {
  color: #7420A3;
}

footer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
footer a.btn {
  color: white;
  background-image: linear-gradient(to left, #a38b20, #a38b20, rgba(163, 139, 32, 0.75));
  border-radius: 40px;
  padding: 5px 15px;
  transition: all ease 0.4s;
  font-size: 18px;
  outline: none;
}
footer a.btn:focus {
  outline: none;
}
footer a.btn:hover {
  transform: translateY(-5px);
}
footer ul li {
  margin: 20px 0;
}
footer ul li:first-child {
  margin-bottom: 40px;
}
footer ul li a {
  transition: all 0.4s ease;
}
footer ul li a:hover {
  color: #ffd000;
}
footer ul:last-child li:first-child {
  margin-bottom: 0px !important;
}

[data-scroll] {
  transition: all 1s;
}

[data-scroll=in] {
  opacity: 1;
  transform: translateY(0px);
}

[data-scroll=out] {
  opacity: 0;
  transform: translateY(50px);
}

.bgi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}

form.center {
  border-radius: 30px;
}

button.prev {
  position: absolute;
  transform: translateY(-50%);
  height: 60px;
  background: #eee;
  opacity: 0.7;
  width: 50px;
  color: black;
  top: 50%;
  transition: all 0.4s ease;
  cursor: pointer;
  left: -60px;
  right: auto;
}
button.prev:hover {
  background: #ddd;
}

button.next {
  position: absolute;
  transform: translateY(-50%);
  height: 60px;
  background: #eee;
  opacity: 0.7;
  width: 50px;
  color: black;
  top: 50%;
  transition: all 0.4s ease;
  cursor: pointer;
  right: -60px;
  left: auto;
}
button.next:hover {
  background: #ddd;
}

@media (max-width: 640px) {
  .product--details ul li {
    text-align: center;
  }

  .carousel {
    padding: 0 20px;
  }
  .carousel-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .carousel-btns button {
    display: inline-block;
    position: static;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0 5px;
    transform: translateY(0);
  }
  .carousel .navigation .parent {
    margin-left: 5px;
    margin-right: 0px;
    border: 1px solid #000;
  }
}
.navigation {
  margin-top: 10px;
}
.navigation .parent {
  cursor: pointer;
  height: 50px;
  margin: 0px 10px;
  transition: all 0.4s ease;
  opacity: 0.5;
}
.navigation .parent:first-child {
  margin-right: 0;
}
.navigation .parent:last-child {
  margin-left: 0;
}
.navigation .parent.active {
  opacity: 1;
}
.navigation .parent:hover {
  opacity: 1;
}
.navigation .parent img {
  height: 100%;
}

.product--details .flex ul li {
  margin: 10px 0;
}
.product--details .flex ul li span.label {
  font-weight: bold;
  color: #7420A3;
}

.sellerNumber {
  background-image: linear-gradient(to left, #7420a3, #7420a3, rgba(116, 32, 163, 0.75));
}
.sellerNumber .overlay {
  transition: all 0.4s ease;
}
.sellerNumber .overlay p {
  user-select: none;
  cursor: none;
}

.card {
  transition: all 0.25s ease;
}
.card:hover {
  box-shadow: 10px 10px 36px -6px rgba(0, 0, 0, 0.67);
}

/*# sourceMappingURL=bundler.css.map */
