// Variables
    
$main-indigo: #7420A3
$main-yellow: rgb(255, 208, 0)
$main-indigo-gradient: linear-gradient(to left, rgba(116, 32, 163, 1), rgba(116, 32, 163, 1), rgba(116, 32, 163, 0.75) )
$main-yellow-gradient: linear-gradient(to left, rgba(163, 139, 32, 1), rgba(163, 139, 32, 1), rgba(163, 139, 32, 0.75) )

.color
    color: $main-indigo
// Global styles

*
    font-family: 'Almarai', sans-serf

::-webkit-scrollbar 
    width: 10px
    &-track 
        background: #eee
    &-thumb 
        background: $main-indigo

.shape
    position: relative
    
    &::before
        content: ''
        display: block
        position: absolute
        top: 0
        left: 0
        
        width: 0px
        height: 0px
        border-bottom: 120px solid transparent
        border-left: 1500px solid #fff
    &::after
        content: ''
        display: block
        position: absolute
        bottom: 0
        right: 0
        
        width: 0px
        height: 0px
        border-top: 120px solid transparent
        border-right: 1500px solid #fff

    background-color: $main-indigo
    padding: 120px 0

    p
        color: white
        font-size: 30px
        padding-top: 15px 
        
input, select, textarea
    resize: vertical
    outline: none
    transition: all 0.4s ease
    color: black
    border-radius: 10px
    padding: 10px 10px
    margin: 0px 0px !important
    width: 100%
    border: 1px solid #eee
    &:focus
        background: #eee

    &::-moz-placeholder
        color:#a9a9a9
        opacity:1
    &:-ms-input-placeholder
        color:#a9a9a9
    &::-webkit-input-placeholder
        color:#a9a9a9

select
    z-index: 50 !important

.help-block
    user-select: none
    &.help
        color: $main-indigo
    &.danger
        color: #df2721
.choices
    margin: 0px !important

.choices__inner
    background: white !important  
    border-radius: 10px !important
    padding: 10px 10px !important

.choices__list.choices__list--single
    color: #a9a9a9 !important

.choices__item--choice.choices__item--selectable 
    padding: 50px 

.choices__list--dropdown.choices__list 
    max-height: 200px !important

// Mixins
@mixin btn($coulor)
    color: white
    background-image: $coulor
    border-radius: 40px 
    padding: 5px 15px
    transition: all ease 0.4s
    font-size: 18px
    outline: none
    
    &:focus
        outline: none   
    &:hover
        transform: translateY(-5px)


@mixin inCenter()
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.main_bg
    background-color: $main-indigo

nav
    background-color: $main-indigo
    #collapse
        transition: all 0.4s ease
    a.active
        color: $main-yellow
    a.btn
        @include btn($main-yellow-gradient)

.header
    border-bottom: 2px solid $main-indigo
    padding-bottom: 5px
    padding-left: 15px
    display: inline-block
    font-weight: 400
    font-size: 25px
    margin: 10px 0

.quick-search .-mx-2 .inputs .px-2 .px-2 .flex select.js-choice
    margin: 0px 10px !important
.brand .img 
    opacity: 0.4
    transition: all 0.4s ease
    &:hover
        opacity: 1

.pagenation
    .active
        background-color: $main-indigo
        color: white

button.indigo, a.btn.indigo
    @include btn($main-indigo-gradient)
button.yellow, a.btn.yellow
    @include btn($main-yellow-gradient)

.fav:active i 
    color: $main-indigo
footer
    border-top-left-radius: 20px
    border-top-right-radius: 20px
    a.btn
        @include btn($main-yellow-gradient)
    ul
        li
            &:first-child
                margin-bottom: 40px
            margin: 10px 0


[data-scroll]
    transition: all 1s

[data-scroll=in]
    opacity: 1
    transform: translateY(0px)

[data-scroll=out]
    opacity: 0
    transform: translateY(50px)

.bgi
    @include inCenter()
    opacity: 0.4
form.center
    border-radius: 30px