// Variables
    
$main-indigo: #7420A3
$main-indigo-gradient: linear-gradient(to left, rgba(116, 32, 163, 1), rgba(116, 32, 163, 1), rgba(116, 32, 163, 0.75) )
$main-yellow-gradient: linear-gradient(to left, rgba(163, 139, 32, 1), rgba(163, 139, 32, 1), rgba(163, 139, 32, 0.75) )

.color
    color: $main-indigo
// Global styles

*
    font-family: 'Almarai', sans-serif

input, select, textarea
    resize: vertical
    outline: none
    transition: all 0.4s ease
    color: black
    border-radius: 10px
    padding: 10px 10px
    margin: 0px 0px !important
    width: 100%
    border: 1px solid #eee
    &:focus
        background: #eee

    &::-moz-placeholder
        color:#a9a9a9
        opacity:1
    &:-ms-input-placeholder
        color:#a9a9a9
    &::-webkit-input-placeholder
        color:#a9a9a9

select
    z-index: 50 !important

.help-block
    user-select: none
    &.help
        color: $main-indigo
    &.danger
        color: #df2721
.choices
    margin: 0px !important

.choices__inner
    background: white !important  
    border-radius: 10px !important
    padding: 10px 10px !important

.choices__list.choices__list--single
    color: #a9a9a9 !important

.choices__item--choice.choices__item--selectable 
    padding: 50px 

.choices__list--dropdown.choices__list 
    max-height: 200px !important

// Mixins
@mixin btn($coulor)
    color: white
    background-image: $coulor
    border-radius: 40px 
    padding: 5px 15px
    transition: all ease 0.4s
    font-size: 18px
    outline: none
    
    &:focus
        outline: none   
    &:hover
        transform: translateY(-5px)

.main_bg
    background-color: $main-indigo

nav
    &,.wrapper
        min-height: 4rem
    ul li
        color: white
        padding: 0 10px
        
        &.active a
            border-bottom: 2px solid white
        a
            border-bottom: 2px solid transparent
            padding-bottom: 5px
            transition: all 0.2s ease-in

        &:hover a
            border-bottom: 2px solid white
    a.btn
        @include btn($main-yellow-gradient)

.header
    border-bottom: 2px solid $main-indigo
    padding-bottom: 5px
    padding-left: 15px
    display: inline-block
    font-weight: bold
    font-size: 18px
    margin: 10px 0

button.indigo
    @include btn($main-indigo-gradient)
button.yellow
    @include btn($main-yellow-gradient)

footer
    border-top-left-radius: 20px
    border-top-right-radius: 20px
    a.btn
        @include btn($main-yellow-gradient)
    ul
        li
            &:first-child
                margin-bottom: 40px
            margin: 10px 0

    
[data-scroll]
    transition: all 1s

[data-scroll=in]
    opacity: 1
    transform: translateY(0px)

[data-scroll=out]
    opacity: 0
    transform: translateY(50px)


  
