@import 'main'

@mixin carousel()
    position: absolute
    transform: translateY(-50%)
    height: 60px
    background: #eee
    opacity: 0.7
    width: 50px
    color: black
    top: 50%
    transition: all 0.4s ease
    cursor: pointer
    &:hover
        background: #ddd 

button.prev
    @include carousel() 
    left: -60px
    right: auto
button.next
    @include carousel()
    right: -60px
    left: auto


@media (max-width: 640px)
    .product--details
        ul li 
            text-align: center
    .carousel
        padding: 0 20px
        &-btns
            display: flex
            justify-content: center
            align-items: center
            margin-top: 20px 
            button
                display: inline-block
                position: static
                top: auto
                left: auto
                right: auto
                bottom: auto
                margin: 0 5px
                transform: translateY(0)
        .navigation
            .parent
                margin-left: 5px 
                margin-right: 0px
                border: 1px solid #000 
.navigation
    margin-top: 10px
    .parent
        cursor: pointer
        height: 50px
        margin: 0px 10px
        transition: all 0.4s ease
        opacity: 0.5
        
        &:first-child
            margin-right: 0
        &:last-child
            margin-left: 0

        &.active
            opacity: 1
        &:hover
            opacity: 1
        img
            height: 100%

.product--details .flex
    ul li
        margin: 10px 0

        span.label
            font-weight: bold
            color: $main-indigo
.sellerNumber
    .overlay
        transition: all 0.4s ease
        p
            user-select: none
            cursor: none
    background-image: $main-indigo-gradient

.card
    transition: all 0.25s ease
    &:hover
        box-shadow: 10px 10px 36px -6px rgba(0,0,0,0.67)