@import "_utilities"

*
    direction: rtl

.replacement
    max-height: 45px //  should equal the -input height */
    overflow: hidden //  important to have this to hide the list */
    overflow-y: hidden //  important to have this to hide the list */
    border-radius: 10px
    border: 1px solid #eee
    border-radius: 10px //  The border-radius goes here DON'T PUT BORDER-RADUIS FO THE INPUT */

    &:hover, &:focus
        border-color: $main-indigo //  The border goes here DON'T PUT BORDER FO THE INPUT */

        transition: all 0.5s ease-in-out //  To add smooth effect when you open the dropdown */

    *
        cursor: pointer

    &.checked
        border: 2px solid green

    &-opened
        max-height: 200px
        overflow-y: scroll //  important to have this to hide the list */

    input.replacement-input
        resize: vertical
        outline: none
        color: black
        padding: 10px 10px !important
        margin: 0px 0px !important
        width: 100%
        border: 0 !important
        border-bottom: 1px solid #eee !important
        border-radius: 0

        &::-moz-placeholder
            color: #a9a9a9
            opacity: 1
        &:-ms-input-placeholder
            color: #a9a9a9
        &::-webkit-input-placeholder
            color: #a9a9a9

    &-ul
        list-style: none
        padding: 0
        margin: 0

        background-color: #eeeeee

        &--li
            transition: all 0.2s ease
            color: white
            padding: 10px
            display: flex
            justify-content: space-between
            align-items: center
            color: black
            border-bottom: 1px solid #eeeeee
            &:last-child
                border-bottom: 0px

            &:hover
                background-color: $main-indigo
                color: white

            &.checked
                color: white
                background-color: $main-indigo

                .checker
                    border: 1px solid black
                    width: 10px
                    height: 10px
                    display: inline-block
                    &.checked
                        background-color: $main-yellow
                        color: black
            .checker
                border: 1px solid black
                width: 10px
                height: 10px
                display: inline-block
                &.checked
                    background-color: $main-indigo
                    color: black