<!DOCTYPE html>
html(lang="ar", dir="rtl")
    include ../utils/head
    +head('عاملة كام | الرئيسية')
    body.overflow-x-hidden
        include ../components/navbar
        +nav(['','active','','',''])
        
        //- quick search
        .container.px-2.mx-auto
            include ../components/QuickSearch            
      
        //- Row 2 
        .container.mx-auto.px-2.mt-8
            .flex.flex-wrap
                .brand(class="w-full sm:w-full lg:w-1/2")
                    p.header الماركات المتواجدة
                    
                    .-mx-2
                        .flex.px-2.flex-wrap
                            - for(let i = 1; i <= 3; ++i){
                                .img.px-2(class="w-1/3")
                                    img(src="./images/brands/"+i+ '.png', width=100 ,alt="brand")
                            - }
                            - for(let i =4 ; i <= 6; ++i){
                                .img.px-2(class="w-1/3")
                                    img(src="./images/brands/"+i+ '.png', width=100 ,alt="brand")
                            - }
                            - for(let i = 7; i <= 9; ++i){
                                .img.px-2(class="w-1/3")
                                    img(src="./images/brands/"+i+ '.png', width=100 ,alt="brand")
                            - }
                        .px-2.mt-4.flex.justify-center.items-end
                            button.indigo المزيد  
                .carousel(class="w-full sm:w-full lg:w-1/2")
                    p.header الأكثر مشاهدة

                    .flex.flex-wrap.justify-center
                        div(class="w-full md:w-4/6")
                            .siema
                                include ../components/MiniCard
                                include ../components/MiniCard
                                include ../components/MiniCard

        
        //- Row 3
        .container.mx-auto.px-2.mt-8
            p.header أحدث الإعلانات
            form(action="#", method="post").flex.flex-wrap.px-2
                each val in ['السعر', 'المدينة' , 'الماركة' ,'الموديل' , 'المسافة' , 'المحرك' , 'الناقل', 'اللون']
                    .px-2.my-2.flex-grow
                        select#slim-select.js-choice(dir="rtl" name='salaryTo')
                            optgroup
                                option(value=1)=val
                                option(value=2) شيء
                                option(value=3) شيء
                .px-2.my-2
                    button(type="submit").indigo.flex-grow بحث

        .flex.flex-wrap.px-2
            - for(let i = 0; i < 9; i++){
                .px-2(class="w-full md:w-1/2 lg:w-1/3")
                    include ../components/Card
            -}

        include ../components/Pagenation

        include ../utils/Shape
        +shape('عايز تبيع', 'اعلن عن عربيتك', '','')

        .news.flex.flex-wrap.flex-col.justify-center.items-center
            p.header النشرة البريدية
            p.text-center لو انت تاجر أو بتحب تعرف اخر تتابع السوق النشرة هتعرفك آخر الأخبار أول بأول
            form.w-full.max-w-sm.my-8
                .flex.flex-wrap.items-center.py-2.px-4 
                    input.appearance-none.border.border-indigo-700.bg-transparent.text-gray-700.mr-3.py-2.px-2.leading-tight.flex-grow(class='w-full  md:w-auto md:ml-2 focus:outline-none' type='text' placeholder='أدخل رقم الواتس' aria-label='whatsApp number')
                    button.indigo.mx-2.w-full.block(class="md:w-auto my-5 md:my-0 " type='button') اشترك الآن

    include ../components/footer
    script(src="./js/libs/siema.min.js")
    script. 
        const mySiema = new Siema({
            selector: '.siema',
            easing: 'ease-out',
            perPage: 1,
            startIndex: -1,
            loop: true,
            rtl: true,
        });
        setInterval(() => mySiema.next(), 2000);
    script(src="./js/libs/move.js")
    script(src="./js/main.js")  