<!DOCTYPE html>
html(lang="ar", dir="rtl")
    include ../utils/head
    +head('عاملة كام | الرئيسية')
    body
        include ../components/navbar
        +nav(['active','','','',''])

    script(src="./js/libs/move.js")
    script(src="./js/main.js")