<!DOCTYPE html>
html(lang="ar", dir="rtl")
    include ../utils/head
    +head('عاملة كام | الرئيسية')
    body
        include ../components/navbar
        +nav(['','active','','',''])
        
        .container.mx-auto
            p.header مرسيدس بيضا 2018

            .flex.flex-wrap
                .relative.carousel(class="md:w-2/5 w-full ")
                    .siema
                        img.w-full(data-index="0" , src='https://placeimg.com/640/480/arch=?4')
                        img.w-full(data-index="1" , src='https://placeimg.com/640/480/animals=?5')
                        img.w-full(data-index="2" , src='https://placeimg.com/640/480/nature=?6')


                    .navigation.flex.flex-wrap.justify-center
                    button.prev 
                        i.fas.fa-arrow-left
                    button.next 
                        i.fas.fa-arrow-right   

    // here
    script(src="js/libs/siema.min.js")
    script(src="https://kit.fontawesome.com/7ccf14bcd9.js")

    script(src="js/carousel.js")
    // global
    script(src="js/main.js")
