<!DOCTYPE html>
html(lang="ar", dir="rtl")
    include ../utils/head
    +head('عاملة كام | الرئيسية')
    body
        include ../components/navbar
        +nav(['','active','','',''])
        
        .container.mx-auto.mb-5
            p.header مرسيدس بيضا 2018

            .container.mx-auto
                .flex.flex-wrap.justify-center
                    .relative.carousel(class="w-full sm:w-3/5")
                        include ../components/carousel
                        +carousel
            .product--details.my-12
                .flex.flex-wrap(class="justify-center sm:justify-start")
                    ul.pl-2(class="w-full sm:w-1/3")
                        li.my-2
                            span.color.font-bold.w-32.inline-block.text-right الماركة:
                            span.text-left.inline-block شيء ما
                        li.my-2
                            span.color.font-bold.w-32.inline-block.text-right موديل:
                            span.text-left.inline-block شيء ما
                        li.my-2
                            span.color.font-bold.w-32.inline-block.text-right ناقل الحركة:
                            span.text-left.inline-block شيء ما
                        li.my-2
                            span.color.font-bold.w-32.inline-block.text-right سعة الموتور:
                            span.text-left.inline-block شيء ما                            

                    ul(class="w-full sm:w-1/3")
                        li.my-2
                            span.color.font-bold.w-32.inline-block.text-right المدينة:
                            span.text-left.inline-block شيء ما
                        li.my-2
                            span.color.font-bold.w-32.inline-block.text-right اللون:
                            span.text-left.inline-block شيء ما
                        li.my-2
                            span.color.font-bold.w-32.inline-block.text-right نوع الوقود:
                            span.text-left.inline-block شيء ما
                        li.my-2
                            span.color.font-bold.w-32.inline-block.text-right المسافة:
                            span.text-left.inline-block شيء ما
                    
                    #sellerNumber.sellerNumber.rounded-lg.flex.justify-center.items-center(class="w-3/4 mx-auto sm:w-1/3")
                        .overlay.py-5
                            p.text-center.text-white.text-2xl اضغط هنا لأرقام التواصل
                            p.text-center.text-white.text-xl.mt-3 متنساش تقول للبايع انك جاي من موقعنا 
                        .number.hidden
                            p.text-center.text-white.text-xl.my-3 متنساش تقول للبايع انك جاي من موقعنا 
                            p.text-center.text-white.font-bold.text-xl.my-3 01153297653
                    
                    .cost.my-2(class="w-full px-2 sm:px-0")
                        span.text-green-500.w-32.text-2xl.font-bold.inline-block.text-right السعر:
                        span.text-left.inline-block.text-2xl 125.8481
                        
                        .product--btns
                            span أَضف إلى المفضلة
                            button.fav.mx-4
                                i.fas.fa-heart

            include ../components/Suggestions
            +suggestion('عربيات من نفس الفئة السعرية')
            +suggestion('عربيات من نفس النوع')
        
        include ../components/footer
        
    // here
    script(src="js/libs/siema.min.js")

    script(src="js/carousel.js")
    // global
    script(src="js/main.js")
