<!DOCTYPE html>
html(lang="ar", dir="rtl")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="./css/selection.css")

        link(href="https://fonts.googleapis.com/css?family=Almarai:300,400,700,800&display=swap&subset=arabic", rel="stylesheet")
        script(src="https://kit.fontawesome.com/7ccf14bcd9.js")

        title عاملة كام | بيع
    body
        include ../components/navbar
        +nav(['','','active','',''])
        .container.mx-auto.pb-32
            .px-4
                include ../utils/header
                +header(' بكل سهولة هتقدر تعلن عن عربيتك ببلاش')                
                p.header الصور
                include ../components/imageForm
            
            .px-4.mt-12
                p.header التجهيزات
                form(action="#" method="method").flex.flex-wrap
                
                    .one(class="w-full my-2 px-2")
                        label.font-bold.text-xl.color.inline-block.mb-2 وسائل الراحة
                        select.multiple(data-placeholder="اختر وسائل الراحة المتاحة في سيارتك", multiple)
                            option(value="airconetion") المكيف
                            option(value="remoteControl") ريموت كنترول
                            option(value="openRoof") فتحة سقف
                            option(value="electricMirrors") مرايات كهرباء
                            option(value="closeMirors") مرايات ضم, غلق
                            option(value="leather") فرش جلد
                            option(value="normal") فرش قماش
                            option(value="power") باور
                            option(value="AiParking") النظام الذكي لركن السيارات
                
                    .two(class="w-full my-2 px-2")
                        label.font-bold.text-xl.color.inline-block.mb-2(for="choices-multiple-default ") نوافذ
                        select.multiple(data-placeholder="اختر الميزات الموجودة في نوافذ السيارة", multiple)
                            option(value="airconetion") نوافذ كهربائية أمامية
                            option(value="remoteControl") ريموت نوافذ كهربائية خلفية
                            option(value="openRoof") زجاج فاميه
     
                    .three(class="w-full my-2 px-2")
                        label.font-bold.text-xl.color.inline-block.mb-2 نظام الصوت
                        select.multiple(data-placeholder="اختر نظام الصوت المتاحة في سيارتك", multiple)
                            option(value="radio") راديو كاسيت
                            option(value="cd") مبدل أقراص
                            option(value="dvd") مشغل دي في دي
                            option(value="cdPlayer") مشغل اسطوانات
                            option(value="aux") مدخل AUX
                            option(value="usb") مدخل USB
                            option(value="blue") بلوتوث
                            option(value="aIcontrol") نظام تحكم في الطارة

                    .four(class="w-full my-2 px-2")
                        label.font-bold.text-xl.color.inline-block.mb-2 وسائل الأمان
                        select.multiple(data-placeholder="اختر وسائل الأمان المتاحة في سيارتك", multiple)
                            option(value="ABS") نظام الفرامل المانع للإنزلاق-ABS
                            option(value="driverAirBag") وسادة هوائية للسائق
                            option(value="passAirBag") وسادة هوائية للركاب
                            option(value="sideAirbag") وسادة هوائية جانبية
                            option(value="ebd") نظام توزيع قوى الفرامل EBD
                            option(value="sensors") حساسات
                            option(value="esp") ESP
                            option(value="frontSensors") حساسات أمامية
                            option(value="backSensors") حساسات خلفية
                            option(value="embloys") نظام ايموبليزر ضد السرقة
                    .five(class="w-full my-2 px-2")
                        label.font-bold.text-xl.color.inline-block.mb-2 مميزات أخرى
                        select.w-full.multiple(data-placeholder="اخترالمميزات أخرى المتاحة في سيارتك", multiple)
                            option(value="jnot") جنوط
                            option(value="elecChairs") مقاعد كهربائية
                            option(value="alert") إنذار
                            option(value="lights") كشافات ضباب
                            option(value="backCamera") كاميرا خلفية
                            option(value="GPS") GPS
                            option(value="speenConsest") مثبت السرعة
                            option(value="lock") قفل مركزي للابواب
                            option(value="spoiler") سبويلر خلفي
                          
                        
                    button.indigo.mx-auto.my-8.px-16.mx-auto(type="submit") خلاص
                    
                    

        include ../components/footer

        //- Jquery
        script(src="./js/libs/jquery.slim.js")
        //- PrettyDropdowns.js library for selectboxes
        script(src="./js/libs/select/jquery.prettydropdowns.js")
        //- Configration for selectboxes
        script(src="./js/modules/chooseModule.js")
        //- Image Uploader plugin
        script(src="./js/modules/ImagePreview.js")
        //- The global js
        script(src="./js/main.js")
        

