<!DOCTYPE html>
html(lang="ar", dir="rtl")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/lib/tailwind.css")
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet", href="./css/sell.css")
        link(href="https://fonts.googleapis.com/css?family=Almarai:300,400,700,800&display=swap&subset=arabic", rel="stylesheet")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css")

        title عاملة كام؟
    body
        include ../components/navbar
        +nav(['','','active','',''])
        .container.mx-auto.pt-32
            .px-4
                h2.text-xl.text-black.font-semibold.text-center.my-4 بكل سهولة هتقدر تعلن عن عربيتك ببلاش 
                p.header الصور
                include ../components/imageForm
            
            .px-4.mt-12
                p.header التجهيزات
                form(action="#" method="method").flex.flex-wrap
                    .one(class="w-full my-2 sm:w-1/2 md:w-1/3 lg:w-1/5")
                        ul
                            li.mb-5
                                p.font-bold.text-xl.color وسائل الراحة
                            li.my-2
                                input#airconetion.w-auto(type="checkbox", name="airconetion")
                                span.mx-2 المكيف
                            li.my-2
                                input#remoteControl.w-auto(type="checkbox", name="remoteControl")
                                span.mx-2 ريموت كنترول
                            li.my-2
                                input#openRoof.w-auto(type="checkbox", name="openRoof")
                                span.mx-2 فتحة سقف
                            li.my-2
                                input#electricMirrors.w-auto(type="checkbox", name="electricMirrors")
                                span.mx-2 مرايات كهرباء
                            li.my-2
                                input#closeMirors.w-auto(type="checkbox", name="closeMirors")
                                span.mx-2 مرايات ضم, غلق
                            li.my-2
                                input#leather.w-auto(type="checkbox", name="leather")
                                span.mx-2 فرش جلد
                            li.my-2
                                input#normal.w-auto(type="checkbox", name="normal")
                                span.mx-2 فرش قماش
                            li.my-2
                                input#power.w-auto(type="checkbox", name="power")
                                span.mx-2 باور
                            li.my-2
                                input#AiParking.w-auto(type="checkbox", name="AiParking")
                                span.mx-2 النظام الذكي لركن السيارات
                
                    .two(class="w-full my-2 sm:w-1/2 md:w-1/3 lg:w-1/5")
                        ul
                            li.mb-5
                                p.font-bold.text-xl.color نوافذ
                            li.my-2
                                input#frontWindow.w-auto(type="checkbox", name="frontWindow")
                                span.mx-2 نوافذ كهربائية أمامية
                            li.my-2
                                input#backWindow.w-auto(type="checkbox", name="backWindow")
                                span.mx-2 نوافذ كهربائية خلفية
                            li.my-2
                                input#fame.w-auto(type="checkbox", name="fame")
                                span.mx-2 زجاج فاميه
                    
                    .three(class="w-full my-2 sm:w-1/2 md:w-1/3 lg:w-1/5")
                        ul
                            li.mb-5
                                p.font-bold.text-xl.color نظام الصوت
                            li.my-2
                                input#radio.w-auto(type="checkbox", name="radio")
                                span.mx-2 راديو كاسيت
                            li.my-2
                                input#cd.w-auto(type="checkbox", name="cd")
                                span.mx-2 مبدل أقراص
                            li.my-2
                                input#dvd.w-auto(type="checkbox", name="dvd")
                                span.mx-2 مشغل دي في دي
                            li.my-2
                                input#cdPlayer.w-auto(type="checkbox", name="cdPlayer")
                                span.mx-2 مشغل اسطوانات
                            li.my-2
                                input#aux.w-auto(type="checkbox", name="aux")
                                span.mx-2 مدخل AUX
                            li.my-2
                                input#usb.w-auto(type="checkbox", name="usb")
                                span.mx-2 مدخل USB
                            li.my-2
                                input#blue.w-auto(type="checkbox", name="blue")
                                span.mx-2 بلوتوث
                            li.my-2
                                input#aIcontrol.w-auto(type="checkbox", name="aIcontrol")
                                span.mx-2 نظام تحكم في الطارة

                    .four(class="w-full my-2 sm:w-1/2 md:w-1/3 lg:w-1/5")
                        ul
                            li.mb-5
                                p.font-bold.text-xl.color وسائل الأمان
                            li.my-2
                                input#ABS.w-auto(type="checkbox", name="ABS")
                                span.mx-2 نظام الفرامل المانع للإنزلاق-ABS
                            li.my-2
                                input#driverAirBag.w-auto(type="checkbox", name="driverAirBag")
                                span.mx-2 وسادة هوائية للسائق
                            li.my-2
                                input#passAirBag.w-auto(type="checkbox", name="passAirBag")
                                span.mx-2 وسادة هوائية للركاب
                            li.my-2
                                input#sideAirbag.w-auto(type="checkbox", name="sideAirbag")
                                span.mx-2 وسادة هوائية جانبية
                            li.my-2
                                input#ebd.w-auto(type="checkbox", name="ebd")
                                span.mx-2 نظام توزيع قوى الفرامل EBD
                            li.my-2
                                input#sensors.w-auto(type="checkbox", name="sensors")
                                span.mx-2 حساسات
                            li.my-2
                                input#esp.w-auto(type="checkbox", name="esp")
                                span.mx-2 ESP
                            li.my-2
                                input#frontSensors.w-auto(type="checkbox", name="frontSensors")
                                span.mx-2 حساسات أمامية
                            li.my-2
                                input#backSensors.w-auto(type="checkbox", name="backSensors")
                                span.mx-2 حساسات خلفية
                            li.my-2
                                input#embloys.w-auto(type="checkbox", name="embloys")
                                span.mx-2 نظام ايموبليزر ضد السرقة
                    
                    .five(class="w-full my-2 sm:w-1/2 md:w-1/3 lg:w-1/5")
                        ul
                            li.mb-5
                                p.font-bold.text-xl.color مميزات أخرى
                            li.my-2
                                input#jnot.w-auto(type="checkbox", name="jnot")
                                span.mx-2 جنوط
                            li.my-2
                                input#elecChairs.w-auto(type="checkbox", name="elecChairs")
                                span.mx-2 مقاعد كهربائية
                            li.my-2
                                input#alert.w-auto(type="checkbox", name="alert")
                                span.mx-2 إنذار
                            li.my-2
                                input#lights.w-auto(type="checkbox", name="lights")
                                span.mx-2 كشافات ضباب
                            li.my-2
                                input#backCamera.w-auto(type="checkbox", name="backCamera")
                                span.mx-2 كاميرا خلفية
                            li.my-2
                                input#GPS.w-auto(type="checkbox", name="GPS")
                                span.mx-2 GPS
                            li.my-2
                                input#speenConsest.w-auto(type="checkbox", name="speenConsest")
                                span.mx-2 مثبت السرعة
                            li.my-2
                                input#lock.w-auto(type="checkbox", name="lock")
                                span.mx-2 قفل مركزي للابواب
                            li.my-2
                                input#spoiler.w-auto(type="checkbox", name="spoiler")
                                span.mx-2 سبويلر خلفي

                    button.indigo.mx-auto.my-8.px-16.mx-auto(type="submit") خلاص

        include ../components/footer

    script(src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js")
    script(src="./js/libs/move.js")
    script(src="./js/main.js")