<!DOCTYPE html>
html(lang="ar", dir="rtl")
    include ../utils/head
    +head('عاملة كام | بيع')
    body
        include ../components/navbar
        +nav(['','','active','',''])

        include ../utils/Selcetion
        .container.mx-auto.overflow-x-hidden.pb-32
            include ../utils/header
            +header(' بكل سهولة هتقدر تعلن عن عربيتك ببلاش')
            .flex.flex-wrap.px-5.-mx-2
                p.header المعلومات الأساسية
                form(action="#" ,method="post")
                    .flex.flex-wrap.w-full.px-2.inputs
                        .input.px-2.my-2(class="w-full md:w-1/2 lg:w-1/3")
                            p.my-2.font-bold.title عنوان الإعلان:
                            input(type="text", placeholder='مثال: فيات 98 بحالة ممتازة')
                            p.help-block.help هذا الحقل مطلوب.
                        +select('الماركة:', ['-- اختر -- ' , 'ماركة','ماركة','ماركة','ماركة','ماركة','ماركة','ماركة' ])                   
                        +select('موديل:', ['سنة' , 'سنة','سنة','سنة','سنة','سنة','سنة' ])                   
                                 
                        
                        .input.px-2.my-2(class="w-full md:w-1/2 lg:w-1/3")
                            p.my-2.font-bold.title سعة المحرك:
                            input(type="text", placeholder='مثال: 1400 ')
                            p.help-block.help هذا الحقل مطلوب.              

                        +select('المدينة:', ['اختار مدينتك' , 'مدينة', 'مدينة', 'مدينة', 'مدينة', 'مدينة', 'مدينة' ])                   
                           
                        .input.px-2.my-2(class="w-full md:w-1/2 lg:w-1/3")
                            p.my-2.font-bold.title المسافة(كم):
                            input(type="text", placeholder='مثال: 1400 ')
                            p.help-block.help هذا الحقل مطلوب.

                        +select('ناقل الحركة:', ['اختار نوع الناقل', "نوع", "نوع", "نوع", "نوع" ])                  
                        +select('الوقود:', ['اختار نوع الوقود' , "وقود", "وقود", "وقود", "وقود", "وقود", "وقود" ])                   
                        +select('اللون:', ['اختار لون العربية' , 'لون','لون','لون','لون','لون','لون','لون'])        

                        .input.px-2.my-2(class="w-full md:w-1/2 lg:w-1/3")
                            p.my-2.font-bold.title السعر:
                            input(type="text", placeholder='هتبيع بكام؟')
                            p.help-block.help هذا الحقل مطلوب.                            
                        .input.px-2.my-2(class="w-full md:w-1/2 lg:w-2/3")
                            p.my-2.font-bold.title تفاصيل أكتر:
                            textarea#details(name="details", width="100%",cols="30", rows="3", placeholder='حاجات الزبون هيكون عايز يعرفها مثال: حالة الكوتشات, المساعدين, عاملة عمرة,الخ...')
                            p.help-block.help هذا الحقل مطلوب.                            
                        a.btn.mx-auto.my-5.self-center(href="sell2.html") التالي
            
        include ../components/footer
    script(src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js")

    script(src="./js/libs/move.js")
    script(src="./js/main.js")