<!DOCTYPE html>
html(lang="ar", dir="rtl")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="./css/selection.css")
        
        link(href="https://fonts.googleapis.com/css?family=Almarai:300,400,700,800&display=swap&subset=arabic", rel="stylesheet")
        script(src="https://kit.fontawesome.com/7ccf14bcd9.js")

        title عاملة كام | بيع
    body
        include ../components/navbar
        +nav(['','','active','',''])

        include ../utils/Selcetion
        .container.mx-auto.overflow-x-hidden.pb-32
            include ../utils/header
            +header(' بكل سهولة هتقدر تعلن عن عربيتك ببلاش')
            p.header المعلومات الأساسية
            .flex.flex-wrap.px-2
                form.-mx-2(action="#" ,method="post")(class="w-full")
                    .flex.flex-wrap.w-full.px-2.inputs
                        +textInput('عنوان الإعلان:', 'مثال: فيات 98 بحالة ممتازة')

                        +select('الماركة:', 'brand','-- اختر -- ',[ ['val','ماركة'],['val','ماركة'],['val','ماركة'],['val','ماركة'],['val','ماركة'],['val','ماركة'] ] )  
                    
                        +select('موديل:', 'model','سنة', [ ['val','1سنة'],['val','2'],['val','3'],['val','4'],['val','سنة'] ])                   
                            
                        +textInput('سعة المحرك:', 'مثال: 1400 ')

                        
                        +select('المدينة:', 'town',  'اختار مدينتك' , [ ['val','مدينة'], ['val','مدينة'], ['val','مدينة'], ['val','مدينة'], ['val','مدينة'], ['val','مدينة]' ]] )                   

                        +textInput('سعة المحرك:', 'مثال: 1400 ')         

                        +textInput('المسافة (كم):', 'مثال: 1400 ')         

                        +select('ناقل الحركة:', 'transmission','اختار نوع الناقل' ,[['val', "نوع"], ['val', "نوع", ],['val', "نوع", ],['val', "نوع" ]] )                  
                    
                        +select('الوقود:', 'fuel','اختار نوع الوقود' ,[['val', "وقود"],['val', "وقود"],['val', "وقود"],['val', "وقود"]] )                   
                    
                        +select('اللون:', 'color','اختار لون العربية' ,[['val', 'لون'],['val', 'لون'],['val', 'لون'],['val', 'لون'],['val', 'لون']] )        
                        
                        +textInput('السعر:', 'هتبيع بكام؟')         


                        .input.px-2.my-2(class="w-full md:w-1/2 lg:w-2/3")
                            p.my-2.font-bold.title تفاصيل أكتر:
                            textarea#details(name="details", width="100%",cols="30", rows="3", placeholder='حاجات الزبون هيكون عايز يعرفها مثال: حالة الكوتشات, المساعدين, عاملة عمرة,الخ...')
                            p.help-block.help هذا الحقل مطلوب.                            
                        a.btn.mx-auto.my-5.self-center(href="sell2.html") التالي
            
        include ../components/footer
        script(src="./js/libs/jquery.slim.js")
        //- PrettyDropdowns.js library for selectboxes
        script(src="./js/libs/select/jquery.prettydropdowns.js")
        //- Configration for selectboxes
        //- script(src="./js/modules/chooseModule.js")
        script.
            $(document).ready(function() {
                // Initiate Pretty Dropdowns
                $('.oneChoice').prettyDropdown({
                    width: "100%",

                });
            });

        //- The global js
        script(src="./js/main.js")