<!DOCTYPE html>
html(lang="ar", dir="rtl")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="./css/selection.css")

        //- link(href="https://fonts.googleapis.com/css?family=Almarai:300,400,700,800&display=swap&subset=arabic", rel="stylesheet")
        //- script(src="https://kit.fontawesome.com/7ccf14bcd9.js")

        title عاملة كام | بيع
    body
        include ../components/navbar
        +nav(['','','active','',''])
        .container.mx-auto.pb-32
            form(enctype='multipart/form-data', method='post', action="#")
                .px-4
                    include ../utils/header
                    +header(' بكل سهولة هتقدر تعلن عن عربيتك ببلاش')                
                    p.header الصور
                    include ../components/imageForm
                
                    .mt-12
                        p.header التجهيزات
                        include ../utils/Selcetion

                        .flex.flex-wrap
                            .one(class="w-full my-2 px-2")
                                +multiSelect("وسائل الراحة","comfort", ["وسائل الراحة" ,"المكيف" ," ريموت كنترول", " فتحة سقف", " مرايات كهرباء", " مرايات ضم, غلق", " فرش جلد", "فرش قماش", "باور", " النظام الذكي لركن السيارات",])
                        
                            .two(class="w-full my-2 px-2")
                                +multiSelect("نوافذ","windows",["نوافذ" ,"نوافذ كهربائية أمامية", "ريموت نوافذ كهربائية خلفية", "زجاج فاميه"])

            
                            .three(class="w-full my-2 px-2")
                                +multiSelect("نظام الصوت","soundSys", ["نظام الصوت","راديو كاسيت", "مبدل أقراص", "مشغل دي في دي", "مشغل اسطوانات", "مدخل AUX", "مدخل USB", "بلوتوث", "نظام تحكم في الطارة"])
                    

                            .four(class="w-full my-2 px-2")
                                +multiSelect("وسائل الأمان","security", ["وسائل الأمان","نظام الفرامل المانع للإنزلاق-ABS","وسادة هوائية للسائق","وسادة هوائية للركاب","وسادة هوائية جانبية","نظام توزيع قوى الفرامل EBD","حساسات","ESP","حساسات أمامية","حساسات خلفية","نظام ايموبليزر ضد السرقة",])

                            .five(class="w-full my-2 px-2")
                                +multiSelect("مميزات أخرى","others", ["مميزات أخرى", "جنوط","مقاعد كهربائية", "إنذار", "كشافات ضباب", "كاميرا خلفية", "GPS", "مثبت السرعة", "قفل مركزي للابواب"," سبويلر خلفي" ])

                                
                            button.indigo.mx-auto.my-8.px-16.mx-auto(type="button", id="dsa") خلاص
                        
                        

        include ../components/footer

        //- Jquery
        script(src="./js/libs/jquery.slim.js")
        //- Configration for selectboxes
        script(src="./js/modules/selectbox/multi.js")
        //- Image Uploader plugin
        script(src="./js/modules/ImagePreview.js")
        //- The global js
        script(src="./js/main.js")
        

