<!DOCTYPE html>
html(lang="ar", dir="rtl")
    include ../utils/head
    +head('عاملة كام | الرئيسية')
    body
        include ../components/navbar
        +nav(['','','','','','active'])

        .container.mx-auto.px-4(class="md:px-0")
            .user-details
                p.header التفاصيل
                
                ul.flex.flex-wrap
                    li.inline-block.flex-grow(class="w-full md:w-1/3")
                        span.text-gray-600.text-xl الاسم:
                        span.mx-2.text-black أبوحميد
                    li.inline-block.flex-grow(class="w-full md:w-1/3")
                        span.text-gray-600.text-xl رقم الهاتف:
                        span.mx-2.text-black +0123456789
                    li.inline-block.flex-grow(class="w-full md:w-1/3")
                        span.text-gray-600.text-xl المدينة:
                        span.mx-2.text-black الزقازيق

            .user-shares.mt-8
                p.header المشاركات
                .flex.justify-center.items-center
                    span.text-gray-600 لا يوجد

            .user-favs.my-8
                include ../components/suggestions
                +suggestion("المفضلة")

        include ../components/footer