.color {
    color: #7420A3;
  }
  
  .header {
    border-bottom: 2px solid #7420A3;
    padding-bottom: 5px;
    padding-left: 15px;
    display: inline-block;
    font-weight: 400;
    font-size: 25px;
    margin: 10px 0;
  }
  
  .error {
    border: 2px solid #e61e17;
  }
  
  button.indigo, a.btn.indigo {
    color: white;
    background-image: linear-gradient(to left, #7420a3, #7420a3, rgba(116, 32, 163, 0.75));
    border-radius: 40px;
    padding: 5px 15px;
    transition: all ease 0.4s;
    font-size: 18px;
    outline: none;
  }
  button.indigo:focus, a.btn.indigo:focus {
    outline: none;
  }
  button.indigo:hover, a.btn.indigo:hover {
    transform: translateY(-5px);
  }
  
  button.yellow, a.btn.yellow {
    color: white;
    background-image: linear-gradient(to left, #a38b20, #a38b20, rgba(163, 139, 32, 0.75));
    border-radius: 40px;
    padding: 5px 15px;
    transition: all ease 0.4s;
    font-size: 18px;
    outline: none;
  }
  button.yellow:focus, a.btn.yellow:focus {
    outline: none;
  }
  button.yellow:hover, a.btn.yellow:hover {
    transform: translateY(-5px);
  }
  
  * {
    direction: rtl;
  }
  
  .replacement {
    max-height: 45px;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
  }
  .replacement:hover, .replacement:focus {
    border-color: #7420A3;
    transition: all 0.5s ease-in-out;
  }
  .replacement * {
    cursor: pointer;
  }
  .replacement.checked {
    border: 2px solid green;
  }
  .replacement-opened {
    max-height: 200px;
    overflow-y: scroll;
  }
  .replacement input.replacement-input {
    resize: vertical;
    outline: none;
    color: black;
    padding: 10px 10px !important;
    margin: 0px 0px !important;
    width: 100%;
    border: 0 !important;
    border-bottom: 1px solid #eee !important;
    border-radius: 0;
  }
  .replacement input.replacement-input::-moz-placeholder {
    color: #a9a9a9;
    opacity: 1;
  }
  .replacement input.replacement-input:-ms-input-placeholder {
    color: #a9a9a9;
  }
  .replacement input.replacement-input::-webkit-input-placeholder {
    color: #a9a9a9;
  }
  .replacement-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
  }
  .replacement-ul--li {
    transition: all 0.2s ease;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-bottom: 1px solid #eeeeee;
  }
  .replacement-ul--li:last-child {
    border-bottom: 0px;
  }
  .replacement-ul--li:hover {
    background-color: #7420A3;
    color: white;
  }
  .replacement-ul--li.checked {
    color: white;
    background-color: #7420A3;
  }
  .replacement-ul--li.checked .checker {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    display: inline-block;
  }
  .replacement-ul--li.checked .checker.checked {
    background-color: #ffd000;
    color: black;
  }
  .replacement-ul--li .checker {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    display: inline-block;
  }
  .replacement-ul--li .checker.checked {
    background-color: #7420A3;
    color: black;
  }
  
  /*# sourceMappingURL=selection.css.map */
  