.card.my-2
    img(style="height: 300px;width: 100%", src="https://via.placeholder.com/600", alt="image")
    section.card-details.flex.border.border-balck.px-2.pt-2
        ul.ml-3
            li.my-2
                span.color.font-bold.inline-block.text-right.w-32 الماركة:
                span.text-left.inline-block شيء ما
            li.my-2
                span.color.font-bold.inline-block.text-right.w-32 موديل:
                span.text-left.inline-block شيء ما
            li.my-2
                span.color.font-bold.inline-block.text-right.w-32 ناقل الحركة:
                span.text-left.inline-block شيء ما
            li.my-2
                span.color.font-bold.inline-block.text-right.w-32 سعة الموتور:
                span.text-left.inline-block شيء ما
            li.mt-4
                span.text-green-500.text-xl.font-bold.inline-block.text-right.w-32 السعر:
                span.text-left.inline-block.text-xl 125.8481
        ul
            li.my-2
                span.color.font-bold.inline-block.text-right.w-32 المدينة:
                span.text-left.inline-block شيء ما
            li.my-2
                span.color.font-bold.inline-block.text-right.w-32 اللون:
                span.text-left.inline-block شيء ما
            li.my-2
                span.color.font-bold.inline-block.text-right.w-32 نوع الوقود:
                span.text-left.inline-block شيء ما
            li.my-2
                span.color.font-bold.inline-block.text-right.w-32 المسافة:
                span.text-left.inline-block شيء ما
            li.my-4
                a.btn.indigo.mt-2(href="#" class="mt-4 mb-2 md:my-0") شاهد المزيد