mixin carousel
    .siema
        img.w-full(data-index="0" , src='https://via.placeholder.com/600')
        img.w-full(data-index="1" , src='https://via.placeholder.com/600')
        img.w-full(data-index="2" , src='https://via.placeholder.com/600')
        img.w-full(data-index="3" , src='https://via.placeholder.com/600')
        img.w-full(data-index="4" , src='https://via.placeholder.com/600')


    .navigation.flex.flex-wrap.justify-center
    .carousel-btns
        button.next 
            i.fas.fa-arrow-right
        button.prev 
            i.fas.fa-arrow-left