mixin carousel
    .siema
        img.w-full(data-index="0" , src='https://placeimg.com/640/480/arch=?4')
        img.w-full(data-index="1" , src='https://placeimg.com/640/480/animals=?5')
        img.w-full(data-index="2" , src='https://placeimg.com/640/480/nature=?6')
        img.w-full(data-index="3" , src='https://placeimg.com/640/480/nature=?6')
        img.w-full(data-index="4" , src='https://placeimg.com/640/480/nature=?6')


    .navigation.flex.flex-wrap.justify-center
    button.prev 
        i.fas.fa-arrow-left
    button.next 
        i.fas.fa-arrow-right