footer.main_bg.py-8.overflow-x-hidden
    .container.mx-auto
        .text-center.text-white.mb-5
            h2.font-normal.text-2xl مستني ايه؟
            a.btn.my-2.inline-block(href="sell.html") أعلن عن عربيتك
        .-mx-2
            .flex.flex-wrap.px-2
                ul.text-white.px-2(class="text-center w-full md:text-right md:w-1/2 lg:w-1/3")
                    li
                        p.text-xl.font-semibold أقسام الموقع
                    li
                        a(href="index.html") الرئيسية.
                    li
                        a(href="#") أحدث الإعلانات.
                    li
                        a(href="#") الأكثر شعبية.
                    li
                        a(href="sell.html") بيع عربيتك.
                    li
                        a(href="#") كل الإعلانات.
                    li
                        a(href="#") كيفية استخدام الموقع.
                    li
                        a(href="#") المدونة.
                        
                ul.text-white.px-2(class="text-center w-full md:text-right md:w-1/2 lg:w-1/3")
                    li
                        p.text-xl.font-semibold.mt-5 أحدث الإعلانات
                    each val in [1, 2, 3]
                        li
                            a.flex.flex-wrap(class="justify-center items-center md:justify-start md:items-start", href="product.html")
                                .img.h-16.w-16.bg-gray-800
                                .text.mr-3.my-auto
                                    p.w-full.text-sm فيات حالة ممتازة
                                    p.text-gray-400.text-xs 12/5/2019
                
                ul.text-white.px-2(class="text-center w-full md:w-1/3 md:text-right")
                    li
                        p.text-xl.font-semibold تواصل معنا
                    li.inline-block.mx-2
                        a.flex.flex-wrap(href="#")
                            i.fab.fa-facebook-square.text-5xl
                    li.inline-block.mx-2
                        a.flex.flex-wrap(href="#")
                            i.fab.fa-instagram.text-5xl

                    