.-mx-2
    .px-2
        .flex.flex-wrap.text-center.px-2
            - for(let i =0; i < 6; ++i) {
                .inputs.my-2.px-2.relative.overflow-hidden.h-64(class="w-full md:w-1/2 lg:w-1/3")
                    input.w-full.h-full(data-get=i type="file", name="1")
                    .img.relative.w-full.h-full
                        img(data-preview=i, class="img")
                        .tools
                            button.delBtn.delete.px-2.py-1(type="button", data-del=i)
                                i.far.fa-times-circle
            - };
