.-mx-2
    .px-2
        form.flex.flex-wrap.text-center.px-2(enctype='multipart/form-data', method='post', action="#")
            - for(let i =0; i < 6; ++i) {
                .inputs.my-2.px-2.relative.overflow-hidden.h-64(class="w-full md:w-1/2 lg:w-1/3")
                    input.w-full.h-full(data-get=i type="file", name="1")
                    .img.relative.w-full.h-full
                        img(data-preview=i, class="img")
                        .tools
                            button#deletImage x
            - };
