.minicard.my-2
    img(style="height: 300px;width: 100%", src="https://via.placeholder.com/600", alt="image")
    section.card-details.border.border-balck.px-2.pt-2.flex.flex-wrap
        ul(class="w-1/2")
            li.my-2
                span.color.font-bold.inline-block.text-right.ml-2 الماركة:
                span.text-left.inline-block شيء ما
            li.my-2
                span.color.font-bold.inline-block.text-right.ml-2 ناقل الحركة:
                span.text-left.inline-block شيء ما

        ul(class="w-1/2")
            li.my-2
                span.color.font-bold.inline-block.text-right.ml-2 المدينة:
                span.text-left.inline-block شيء ما
            li.my-2
                span.color.font-bold.inline-block.text-right.ml-2 اللون:
                span.text-left.inline-block شيء ما

        .w-full.flex.justify-center.items-center.py-2
            a.btn.indigo(href="#") شاهد المزيد