.flex.justify-center.my-6.pagenation
    ul.flex.border.border-grey
        li
            a.block.px-3.py-2.color(class='hover:text-black ' href='#') السابق
        li
            a.block.border-r.border-grey-light.px-3.py-2.color(class=' active hover:text-black' href='#') 1
        li
            a.block.border-r.border-grey-light.px-3.py-2.color(class='hover:text-black' href='#') 2
        li
            a.block.text-white.bg-blue.px-3.py-2.color.border-r.border-grey-light(class='hover:text-black' href='#') 3
        li
            a.block.px-3.py-2.color.border-r.border-grey(class='hover:text-black' href='#') التالي