mixin shape(text, btnText, textStyle, btnClasses)
    .shape.flex.justify-center.w-full.overflow-x-hidden&attributes(attributes)
        .all(style=textStyle)
            p.text-center.mb-4=text
            a.btn.yellow(class=btnClasses , href="sell.html")=btnText